<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/gameLeY/playerDetail.css">
	</head>

	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-slide-in">
			<!--侧滑菜单部分-->
			<aside id="offCanvasSide" class="mui-off-canvas-left">
				<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<template v-for="(player,index) in playerNameList">
							<div>
								<button style="width: 30%;border: 0px;" disabled>{{player.typeName}}</button>
								<button style="width: 68%;border: 0px;" disabled>——————————————</button>
							</div>
							<div align="center">
								<template v-for="(play,index) in player.gameInfoVOList">
									<button class="btn-kuang-style">{{play.gameName}}</button>
								</template>
							</div>
						</template>
					</div>
				</div>
			</aside>
			<!--主界面部分-->
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
					<a class="mui-action-back mui-btn mui-btn-link mui-pull-right"></a>
					<h1 class="mui-title">玩法名称</h1>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div style="position: absolute;z-index: 2;width: 100%;">
						<ul class="mui-table-view">
							 <li class="mui-table-view-cell">25325412期</li>
						     <li class="mui-table-view-cell" style="text-align: center;">
								 <span style="float: left;">25369874期</span>
								 <span>封盘：00:30</span>
								 <span style="float: right;">开奖：45</span>
							 </li>
						</ul>
					</div>
					<div class="mui-content mui-row mui-fullscreen" style="padding-top: 130px;">
						<div class="mui-col-xs-3">
							<div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
								<!-- 遍历界面左边菜单列表 -->
								<template v-for="(playerClassBtn,index) in playerContentList">
									<a v-if="index === 0" class="mui-control-item mui-active" :href="'#content'+index">{{playerClassBtn.playerNameclass}}</a>
									<a v-if="index !== 0" class="mui-control-item" :href="'#content'+index">{{playerClassBtn.playerNameclass}}</a>
								</template>
							</div>
						</div>
						<div id="segmentedControlContents" class="mui-col-xs-9" style="border-left: 1px solid #c8c7cc;">
							
							<template v-for="(playerClassBtn,index) in playerContentList">
								<template v-if="index === 0">
									<div :id="'content'+index" class="mui-control-content mui-active">
										<ul class="mui-table-view">
											<template v-for="(players,index1) in playerClassBtn.players">
												<li class="mui-table-view-cell mui-collapse li-style-wanfa mui-active">
													<a class="mui-navigate-right" href="#">{{players.xiazhuxiang}}</a>
													<div class="mui-collapse-content">
														<div v-for="(playersXia,index2) in players.xiazhuxiangclass" class="xiazhu-style">
															<span>{{playersXia.className}}</span>
															<span style="color: #CF2D28;">{{playersXia.peilv}}</span>
														</div>
													</div>
												</li>
											</template>
										</ul>
									</div>
								</template>
								<template v-else>
									<div :id="'content'+index" class="mui-control-content">
										<ul class="mui-table-view">
											<template v-for="(players,index1) in playerClassBtn.players">
												<li class="mui-table-view-cell mui-collapse li-style-wanfa mui-active">
													<a class="mui-navigate-right" href="#">{{players.xiazhuxiang}}</a>
													<div class="mui-collapse-content">
														<div v-for="(playersXia,index2) in players.xiazhuxiangclass" class="xiazhu-style">
															<span>{{playersXia.className}}</span>
															<span style="color: #CF2D28;">{{playersXia.peilv}}</span>
														</div>
													</div>
												</li>
											</template>
										</ul>
									</div>
								</template>
							</template>
						</div>
					</div>
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/public.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="../../js/gameLeY/playerDetail.js"></script>
	</body>

</html>
