<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Hello MUI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="../../css/mui.min.css">
</head>

<body>
	<div class="mui-content">
		<div id="slider" class="mui-slider">
			<div class="mui-slider-group mui-slider-loop">
				<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="javascript:return false;">
						<img :src="bannerLastData.bannerUrl" />
						<!-- <p class="mui-slider-title">{{bannerLastData.bannerLinks}}</p> -->
					</a>
				</div>
				<div v-for="(banner,index) in bannerList" class="mui-slider-item">
					<a href="javascript:return false;">
						<img :src="banner.bannerUrl" />
						<!-- <p class="mui-slider-title">{{banner.bannerLinks}}</p> -->
					</a>
				</div>
				<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="javascript:return false;">
						<img :src="bannerfirstData.bannerUrl" />
						<!-- <p class="mui-slider-title">{{bannerfirstData.bannerLinks}}</p> -->
					</a>
				</div>
			</div>
			<div class="mui-slider-indicator mui-text-right">
				<template v-for="(banner,index) in bannerList">
					<template v-if="index === 0">
						<div class="mui-indicator mui-active"></div>
					</template>
					<template v-else>
						<div class="mui-indicator"></div>
					</template>
				</template>
			</div>
		</div>
	</div>
	<script src="../../js/mui.js"></script>
	<script src="../../js/public.js"></script>
	<script src="../../js/vue.js"></script>
	<script type="text/javascript">
		mui.init();
		var dataModule = new Vue({
			el: '#slider',
			data:{
				bannerList:[],
				bannerfirstData:{},
				bannerLastData:{},
			},
			updated:function(){
				var slider = mui("#slider");
				slider.slider({
					interval: 2000
				});
			},
			mounted: function() {
				
			},
			created() {
				this.getApiData()
			},
			methods: {
				getApiData:function() {
					mui.post(BASE_URL + 'player/plam/banner/getBannerList',function(data){
						dataModule.bannerList = data.module;
						dataModule.bannerfirstData = data.module[0];
						dataModule.bannerLastData = data.module[data.module.length-1];
					})
				}
			}
		})
	</script>

</body>

</html>